<h1><%= t(:heading) %></h1>

<ul>
  <li><%= link_to "Roles", roles_path %></li>
  <li><%= link_to "Donantes", donantes_path %></li>
  <li><%= link_to "Horario entregas", horario_entregas_path %></li>
</ul>