<p id="notice"><%= notice %></p>

<p>
  <strong>Horario:</strong>
  <%= @horario_entrega.horario %>
</p>

<%= link_to 'Edit', edit_horario_entrega_path(@horario_entrega) %> |
<%= link_to 'Back', horario_entregas_path %>
