<footer class="footer">
  <small>
    <a href="http://www.hexacta.com/">Hexacta</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/hexacta/fba/">Github</a></li>
    </ul>
  </nav>
</footer>